.wrapper {
  width: auto;
  margin-bottom: 7px;
  padding: 10px 10px 20px;
  text-align: center;
  background-color: #FFF;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.header {
  width: auto;
  padding: 10px;
  display: flex;
  text-align: left;
}

.date {
}

.edit_btn {
  width: 100%;
  text-align: right;
}

.image {
  width: 70%;
  padding: 10px 50px;
}

.item_name {
  font-size: 20px;
  font-weight: 600;
}

.rating_icon {
  font-size: 40px;
}

.comment {
  margin: auto;
  text-align: left;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .5);
  font-size: 12px;

}