.wrapper {
  width: auto;
  height: 100vh;
  padding-top: 40px;
  background-color: #e5e5e5;
}

.scrolling_wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  -ms-overflow-style: none;    /*  スクロールバー非表示 IE, Edge 対応 */
  scrollbar-width: none;       /* スクロールバー非表示 Firefox 対応 */
}

.scrolling_wrapper::-webkit-scrollbar { /* スクロールバー非表示 Chrome, Safari 対応 */
  display:none;
}

.item {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 5px;
  background-color: white;
  display: inline-block;
}

.picture_num {
  position: absolute;
  font-size: 50px;
  color: gray;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; /*上下左右中央に*/
  width: 30px;
  height: 60px;
}

.photoIcon {
  transform: scale(1.7);
}

.item_detail {
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #fff;
}

.item_rating {
  font-size: 40px;
}

.input_field {
  padding: 15px 10px;
}

.comment {
  padding: 10px;
  height: 35%;
  font-size: 14px;
  background-color: #fff;
}