.wrapper {
  padding: 50px;
  text-align: center;

}

.img {
  width: 80%;
  padding-bottom: 50px;
  object-fit: contain;
}

.btn_wrapper {
  margin-bottom: 10px;
}

.border {
  padding: 10px 0px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
	display: flex;
	align-items: center;
}
.border:before, .border:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: rgba(0, 0, 0, 0.5);
	display: block;
}
.border:before {
	margin-right: .4em;
}
.border:after {
	margin-left: .4em;
}

.signup_text_wrapper {
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.5);
}

.signup_text {
  color: #000033;
  font-size: 20px;
}